<!-- pokemon_list.html -->
{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <title>Title</title>
</head>
<body>
    <h1>Liste des 151 premiers Pokémon</h1>
    
    <input type="text" id="searchInput" oninput="filterPokemonList()" placeholder="Rechercher un Pokémon...">

    <div class="pokemon-list">
        {% for pokemon in pokemon_data|slice:":151" %}
            <div class="pokemon-card">
                <img src="{{ pokemon.image }}" alt="{{ pokemon.nom }}">
                <h3>{{ pokemon.nom }}</h3>
                <p>Type: {{ pokemon.type1 }}</p>
                <p>Type: {{ pokemon.type2 }}</p>
                <a href="{% url 'pokemon_detail' pokemon.id %}">Voir les détails</a>
            </div>
        {% endfor %}
    </div>

    <script>
        function filterPokemonList() {
            var input, filter, pokemonList, pokemonCard, name, i;
            input = document.getElementById("searchInput");
            filter = input.value.toUpperCase();
            pokemonList = document.getElementsByClassName("pokemon-card");

            for (i = 0; i < pokemonList.length; i++) {
                name = pokemonList[i].getElementsByTagName("h3")[0];
                if (name.innerText.toUpperCase().indexOf(filter) > -1) {
                    pokemonList[i].style.display = "";
                } else {
                    pokemonList[i].style.display = "none";
                }
            }
        }
    </script>
</body>
</html>