<!-- pokemon_detail.html -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokemon Detail</title>
    <link rel="stylesheet" href="{% static 'css/pokemon_detail.css' %}">
</head>
<body>
<button class="back-button" onclick="history.go(-1)">Back</button>
<div class="pokemon-detail-container">
    <div class="pokemon-image-column">
        <img src="{{ pokemon.image }}" alt="{{ pokemon.name }}">
    </div>
    <div class="pokemon-details-column">

       <div class="pokemon-details-column">
        
        <h2>{{ pokemon.nom }}</h2>
        <p><span class="icon">❤️</span> HP: {{ pokemon.hp_max }}</p>
        <p><span class="icon">⚔️</span> Attack: {{ pokemon.attaque }}</p>
        <p><span class="icon">🛡️</span> Defense: {{ pokemon.defense }}</p>
        <p><span class="icon">💥</span> Special Attack: {{ pokemon.sp_attaque }}</p>
        <p><span class="icon">🛡️</span> Special Defense: {{ pokemon.sp_defense }}</p>
        <p><span class="icon">🏃</span> Speed: {{ pokemon.speed }}</p>
    </div>
        
    </div>
</div>
</body>
</html>